[Desktop Entry]
Name=Disks
Comment=Disk utility for the COSMIC™ desktop
Type=Application
Icon=com.cosmic.Disks
Exec=disks-ui %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
